<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
        <title>{{ title }}</title>
</head>

<body>
    <div id="content">
        <ol>
        {% for year,months in doc.posts.iteritems() %}
            <li><ol>
            {% for month,days in months.iteritems()  %}
                <li><ol>
                {% for day, posts in days.iteritems() %}
                    <li><ol>
                    {% for post in posts %}
                        <li>
                            <span>{{ post.date() }}</span>
                            <a href="{{ link_to(post.slug) }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                    </ol><li>
                {% endfor %}
                </ol></li>
            {% endfor %}
            </ol></li>
        {% endfor %}
        </ol>
    </div>
</body>

</html>
